@import url(styles/header.css);
@import url(styles/banner.css);

:root{
    --cor-de-fundo:#ff0000;
    --branco:#FFFFFF;
    --amarelo:#FECD2F;
    --roxo:#000000;
    --fonte-principal: "Poppins";
    --fonte-secundaria: "Josefin Sans";
    
    

}

body{
    background-color:var(--cor-de-fundo);
font-family: var(--fonte-principal);
font-size: 16px;
font-weight: 400;
}

.banana{
    position: relative;
    padding: 1vw;
}
.books{
    padding: 1vw;
}
